.closeIcon {
  position: absolute;
  top: 8px;
  left: 8px;
}

.close {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  background: rgb(243, 244, 244);
  transition: all 0.32s ease 0s;
  cursor: pointer;
}
